*.tar.gz binary
*.npy binary
*.zip binary
*.png diff=exif

config.h.in licensefile=.githooks/LICENSE-C++
version.h.in licensefile=.githooks/LICENSE-C++

api/* licensefile=.githooks/LICENSE-C++
api/CMakeLists.txt !licensefile

src/*/*.h licensefile=.githooks/LICENSE-C++
src/*/*.cpp licensefile=.githooks/LICENSE-C++

tests/*.h licensefile=.githooks/LICENSE-C++
tests/*.cpp licensefile=.githooks/LICENSE-C++
tests/*/*.h licensefile=.githooks/LICENSE-C++
tests/*/*.cpp licensefile=.githooks/LICENSE-C++
