cmake/bump-version
CMakeCache.txt
CMakeFiles*
cdash/
tags
src/tags
build*
debug*
release*
intel*
pilot
mrcpp.config
mrcpp.creator*
mrcpp.files
mrcpp.includes
.settings
.cproject
.project
.deps
Makefile.in
Makefile
config.h
share/MultiwaveletFilters
tools/mrcpp_sources
external/build
.DS_Store
*.o
*.a
*.dat
*.cube
*.xyz
*~
*.log
*.swp
\#*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
doc/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

#Virtual environments
venv

#QtCreator
*.config
*.creator
*.creator.user
*.files
*.includes

#CLion
.idea/
cmake-build-debug/
