language: cpp
sudo: false
dist: trusty

notifications:
  slack:
    secure: 1jnJfgRwfuF8dzfN5daTItQ+jrilhRSjz88gKMhMpqvWrpaAZrytTcejs5FELXadeLIiddoT7c5GKLrCngVzadMi60bc/kfE2Lzer8z31i6mfPXGLvd3zWpVa6Tt8Bur2wL/oB/f6herDQurW2t0HcTp6oc6Mv3iI23PPl/MQG4w6oNKc6SOeBIBDykJOSaf3+SY/z4vXBqqF5lbmWHUIngTUkV7UEzmj+c4MukOUn9IyYjNSgvZd1ql4SKG58gzkafB1tbhxPjyJqLcWjokwlhVYTxHulBqemxRj7DGznWAUL72Pbc6ot27R655wvl/OEoL7X8U0aLIJIlIzLl49WDv5c81wGw/iOVjj5leBpfJl6QlyNMJC0jPEEJYPbEWxzgZGNa1eYbZyroOKvBBalcYVzxq018VgwYjMdZL0zFhdTymgFcDnR1p3Z1Lii6fN3oO2QVAsyBq3sN+IVtlyAWnHIGP+eyEGpggKJ1GsnG/Mb8cjBc6hjG8Q3fRQEfB5C5FeWJSU67hTnuGpTWKcF8rcfbtrw5D1JzBkqYjL6PuG5/VLu8Ro/IihBKf0N+sFa5GvdmbWOEWDEpiIMfWvcOpTIabZyRzcLJX7fqP29b2lUjoLVT3g5+cgSYSZcVyCFj+kunL1LZpgsBf9tr6r+OWzXwNVti+fEvF0KqMHHs=

cache:
  directories:
    - $HOME/Deps

matrix:
  include:
    - os: linux
      addons:
        apt:
          packages:
            - g++-4.8
      env:
        - BUILD_TYPE='release'
        - CXX_COMPILER='g++-4.8'
        - EIGEN_VER='3.3.4'
    - os: linux
      addons:
        apt:
          packages:
            - g++-4.8
      env:
        - BUILD_TYPE='release'
        - CXX_COMPILER='g++-4.8'
        - OPENMP='--omp'
        - EIGEN_VER='3.3.4'
    - os: linux
      addons:
        apt:
          packages:
            - g++-4.8
            - lcov
      env:
        - BUILD_TYPE='debug'
        - CXX_COMPILER='g++-4.8'
        - COVERAGE='--coverage'
        - EIGEN_VER='3.3.4'

before_install:
  # Dependencies are downloaded in $HOME/Downloads and installed in $HOME/Deps
  - mkdir -p $HOME/Downloads $HOME/Deps
      
install:
  - ./.ci/cmake.sh
  - ./.ci/eigen.sh  
      
before_script:
  - python --version
  - cmake --version
  - ${CXX_COMPILER} --version

script:
  - export OMP_NUM_THREADS=2
  - ./setup --cmake-options="-DEigen3_DIR=$HOME/Deps/eigen/share/eigen3/cmake/" --type=${BUILD_TYPE} --cxx=${CXX_COMPILER} ${COVERAGE} ${OPENMP} --enable-examples
  - cd build
  - cmake --build . -- VERBOSE=1 -j2
  - ctest --output-on-failure --verbose

after_success:
  - |
    if [[ "${COVERAGE}" = "--coverage" ]]; then
      cd ${TRAVIS_BUILD_DIR}
      lcov --version
      lcov --directory . --capture --output-file coverage.info
      lcov --remove coverage.info '/usr/*' --output-file coverage.info
      lcov --remove coverage.info 'external/*' --output-file coverage.info
      lcov --remove coverage.info 'tests/*' --output-file coverage.info
      lcov --list coverage.info
      bash <(curl -s https://codecov.io/bash) -X gcov || echo "Codecov did not collect coverage reports"
    fi

